# If you do have valid Ghostty configs for these (instead of TOML files),
# then you could import them like this:
config-file = "~/.config/ghostty/theme.config"
config-file = "~/.config/ghostty/font.config"
config-file = "~/.config/ghostty/font-size.config"
config-file = "~/.local/share/omakub/defaults/ghostty.config"

window-padding-x = 30
window-padding-y = 30

